// fonts
$title: Bangers;
$text: Roboto;

// colors
$blue: #b3e7e7;
$yellow: #f8f880;
$shade: #422800;
$purple: #5e63a1;
$violet: #aa96da;
$background: #fbeee0;

// mixins
@mixin header() {
  border: 2px solid $shade;
  border-radius: 5px;
  box-shadow: $shade 4px 4px 0 0;
  color: $shade;
}

@mixin header-box() {
  font-family: $text;
  background-color: $background;
  border: 2px solid $shade;
  border-radius: 30px;
  box-shadow: $shade 4px 4px 0 0;
}

@mixin list-box() {
  border: 2px solid $shade;
  border-radius: 5px;
  box-shadow: $shade 4px 4px 0 0;
  color: $shade;
  text-align: center;
  padding: 10px 5px;
  background-color: $background;
  @media (min-width: 768px) {
    padding: 10px;
  }
}

@mixin card-element() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  border: 2px solid $shade;
  border-radius: 5px;
  margin: 10px;
}
