.footer {
  @include header();
  background-color: $blue;
  padding: 10px;
  font-family: $title;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(72, 70, 70);
  height: 5vh;
  @media (min-width: 768px) {
    height: 7vh;
    font-size: 18px;
    padding: 30px;
  }
}

.logo {
  width: 50px;
  @media (min-width: 768px) {
    width: 100px;
  }
}
