.header{
  background-color: rgb(179, 231, 231);
  padding: 50px;
  font-family: $title;
}
.search{
  padding: 30px;
  &__btn{
    margin-left: 10px;
    display: inline-block;
    padding: 0 18px;
    text-align: center;
    @include header-box();
  }
  &__btn:hover {
    background-color: rgb(237, 237, 107);
  }
  &__btn:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  &__input{
    padding-left: 15px;
    @include header-box();
  }
}