.header{
  @include header();
  background-color: $blue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $title;
  text-align: center;
  @media (min-width: 768px) {
    padding: 30px;
  }
}
.h1{
  font-size: 26px;
  @media (min-width: 768px) {
    font-size: 32px;
  }
}
.search{
  padding: 10px 0;
  &__btn{
    margin: 10px 0 0 10px;
    display: inline-block;
    padding: 0 18px;
    text-align: center;
    height: 30px;
    width: 100px;
    @include header-box();
  }
  &__btn:hover {
    background-color: $violet;
  }
  &__btn:active {
    box-shadow: $shade 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  &__input{
    padding: 0 10px;
    height: 30px;
    width: 195px;
    @include header-box();
    @media (min-width: 768px) {
      width: 300px;
    }
  }
}