.main{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-family: $title;
    padding: 10px 0;
    @media (min-width: 768px) {
        gap: 20px;
        padding: 20px 0;
    }
}

.title{
    border-bottom: 2px solid $shade;
    padding-bottom: 10px;
    font-size: 11px;
    @media (min-width: 768px) {
        font-size: 18px;
    }
}

.results{
    @include list-box();
    width: 80%;
    height: fit-content;
    &__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        font-family: $text;
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
    }
    &__card{
        @include card-element();
        width: 200px;
        &--fav{
            border: 3px solid $blue;
            background-color: $purple;
        }
    }
    &__img{
        max-height: 200px;
        max-width: 133px;
        background-size: contain;
    }
    
}

.favorites{
    width: 20%;
    @include list-box();
    &__list{
        font-family: $text;
        font-size: 12px;
        text-align: center;
        line-height: 1.5;
    }
    &__card{
        @include card-element();
    }
    &__img{
        max-height: 150px;
        max-width: 100px;
        background-size: contain;
    }
}

.hidden{
    display: none;
}