.main{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    font-family: $title;
    padding: 30px;
}
.title{
    border-bottom: 2px solid #422800;
    padding-bottom: 10px;
}

.results{
    @include list-box();
    &__title{

    }
    &__list{
        font-family: $text;
        list-style: none;
        text-align: left;
        line-height: 1.5;
    }
    &__li{
        @include li-element();
    }
    &__img{
        max-height: 300px;
        max-width: 200px;
    }
}

.img{
    max-height: 300px;
    max-width: 200px;
}
.favorites{
    max-width: 35%;
    @include list-box();
    &__list{
        font-family: $text;
        font-size: 12px;
        list-style: none;
        text-align: left;
        line-height: 1.5;
    }
    &__li{
        @include li-element();
    }
    &__img{
        max-height: 150px;
        max-width: 100px;
    }
}