<main class="main">
  <section class="favorites js-favorites">
    <h2 class="title">Favoritas</h2>
    <div class="favorites__list js-favorites-list"></div>
    <button class="js-favorites-btn search__btn favorites__btn">Limpiar</button>
  </section>
  <section class="results js-results">
    <h2 class="title">Resultados</h2>
    <div class="results__list js-results-list"></div>
    <p class="hidden js-no-results no-results">No se han encontrado resultados para tu busqueda</p>
    <div class="page">
      <button class="page__arrow"><i class="fa-solid fa-chevron-left"></i></button>
      <span class="page__number">1</span>
      <button class="page__arrow"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
  </section>
</main>
